.item-card {
  margin: 10px;
  background-color: rgb(48, 48, 48);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.item-card input {
  width: 30px;
}
.item-card .left {
  width: 70%;
}
.item-description{
  display: flex;
  flex-direction: row;
  gap:20px;
}
.desc{
  align-self: center;
}
img{
  height:100px;
  width:100px;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  background-color: lightgray;
  margin: 20px;
}
.btn-remove {
  color: red;
  background-color: beige;
}
.btnQty {
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid rgb(119, 119, 119);
}
.total {
  text-align: center;
  padding: 15px 35px;
  color: aquamarine;
  text-align: right;

  border: solid 10px rgb(135, 137, 137);
  margin: 30px;
  padding-right: 100px;
}
.total-quantity{
  font-size: smaller;
  color:white;
  padding-right: 100px;
}
.remove-message {
  color: red;
  font-size: smaller;
}
